@import models._
@import controllers._
@import helper._

@(title:String,newPost: Form[MyBoard], posts: List[MyBoard])(implicit request: Http.Request, messagesProvider: MessagesProvider)
@implicitField = @{ FieldConstructor(myFieldConstructorTemplate.f) }


@form(action = routes.Application.add()){
@CSRF.formField
@inputText(
field = newPost("name"),
args =
Symbol("size") -> 40,
Symbol("_label")-> "お名前(必須)",
Symbol("placeholder") -> "お名前を入力してください")
@inputText(
field = newPost("email"),
args =
Symbol("size") -> 40,
Symbol("_label") -> "Email",
Symbol("placeholder") -> "メールアドレスを入力してください")
@textarea(
field= newPost("message"),
args =
Symbol("rows") -> 5,
Symbol("cols") -> 40,
Symbol("_label") -> "本文(必須)",
Symbol("placeholder") -> "本文を入力してください")
<input type="submit" value="投稿"/>
}
